/* Estilos para o menu responsivo */
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu-icon {
	cursor: pointer;
	display: none;
	font-size: 1.5em;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin-left: 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

/* Estilos para telas pequenas */
@media screen and (max-width: 768px) {
	.menu-icon {
		display: block;
	}

	ul {
		display: none;
		position: absolute;
		top: 50px;
		left: 0;
		background-color: #333;
		width: 100%;
		padding: 10px;
	}

	li {
		display: block;
		margin: 10px 0;
	}

	a {
		display: block;
		padding: 10px;
	}
}
